{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
	What {{ user }} is getting done for team {{ team }}.  :-)
{% endblock title %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock extra_css %}

{% block content %}
	<h1>What {{ user }} is getting done for team {{ team }}.  :-)
	<h2>today's dones:</h2>
	<ul>
		{% for done in dones_today %}
			<li>
				{% if done.goal_completed == False %}
					<strong><em>incomplete goal: </em></strong>
				{% endif %}
				{{ done.markedup_text|safe }}
			</li>
		{% endfor %}
	</ul>
	<h2>last week's dones:</h2>
	<ul>
		{% for done in dones_lastweek %}
			<li>
				{% if done.goal_completed == False %}
					<strong><em>incomplete goal: </em></strong>
				{% endif %}
				{{ done.markedup_text|safe }}
			</li>
		{% endfor %}
	</ul>
{% endblock content %}
